.cell {

  max-width: 50px; /* tweak me please */
  white-space : nowrap;
  overflow : hidden;
  word-wrap: break-word;
  

}

/* .expand-small-on-hover:hover {
  max-width : 200px;
  text-overflow: ellipsis;
} */

.expand-maximum-on-hover:hover {
  max-width : initial;
  white-space :normal
}


.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
  margin-left: 0px;
  width: 100%;
}


/* fixed header */